# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local
.env.*.local
.data/
.vercel/
*.tsbuildinfo
client/vite.config.js
client/vite.config.d.ts

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
